$tablet: 1023px;
$mobile: 650px;

.cardWrap {
	padding: 20px;
	height: 100%;
	background: #fff;
	font-family: var(--baseFont);
	box-shadow: 10px 10px 20px #dedede;
	transition: 0.3s;

	&:hover {
		scale: 1.04;
		cursor: pointer;
		outline: 1px solid #111;
	}

	.IndicatorCard {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		p {
			padding-top: 10px;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		button {
			width: 100%;
			height: 50px;
			border: none;
			cursor: pointer;
			transition: 0.2s;

			&:hover {
				color: #fff;
				background: #111;
			}

			&.on {
				color: #fff;
				background: #111;
			}
		}

		.header {
			h3 {
				margin-bottom: 10px;
				font-family: var(--pointFont);
				font-weight: 500;
				font-size: 1.2rem;
				line-height: 1.6rem;
			}
		}

		.period {
			text-align: left;
			opacity: 0.8;
			div {
				font-size: 0.9rem;
			}
		}
	}
}
