$paddingLeft: 30px;
$menuSize: 15%;
$logoBottonMargin: 30px;

// menu 와 otherwise 는 15:85 비율임
.Menu {
	// width: var(--dashMenuLength);
	width: $menuSize;
	min-height: calc(100vh);
	font-family: var(--baseFont);
	background: var(--fontColor);
	color: var(--bgColor);

	nav {
		display: flex;
		flex-direction: column;
		align-content: center;

		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
			margin-bottom: $logoBottonMargin;
			font-size: 1.3rem;
			background: #222;
		}

		span {
			opacity: 0.5;
			font-size: 1.3rem;
			transition: 0.3s;
			padding: 15px 20px;

			&:hover {
				opacity: 1;
				cursor: pointer;
			}

			&.on {
				opacity: 1;
				color: #fff;
				background: #555;
			}
		}

		.contexts {
			display: flex;
			flex-direction: column;
			align-items: right;
			padding-left: 20%;

			span {
				padding: 15px 0;
				width: 100%;
			}
		}
	}
}
