@use '../../styles/Variable' as var;
.Dashboard {
	font-family: var(--baseFont);
	width: 100%;
	display: flex;
	padding-top: var.$headerSize;
	padding-left: var.$dashMenuWidth;
	> section {
		width: 100%;
		min-height: calc(100vh - var.$headerSize);
	}
}
