@use '../../styles/Variable' as var;
.Dashboard {
	font-family: var(--baseFont);
	display: flex;
	padding-top: var.$headerSize;
	padding-left: var.$dashMenuWidth;
	background-color: var(--bgColor-light);
	> section {
		width: 100%;
		min-height: calc(100vh - var.$headerSize);
	}
}

@media screen and (max-width: var.$mobile) {
	.Dashboard {
		padding-left: var.$dashMenuWidth-mobile;
	}
}
