:root {
	--bgColor-white: #fff;
	--bgColor: #efefef;
	--bgColor-code: 239, 239, 239;
	--fontColor: #333;
	--fontColor-code: 34, 34, 34;
	--pointColor: crimson; // primeColor => root 찾아보고 convention 맞춰보기
	--dashMenuWidth: 250px;
	--headerSize: 60px;
	--prime-color: #c9d0d2;
}
