@use '../../styles/Variable.scss' as var;

.Category {
	padding-top: 50px;
	display: grid;
	grid-template-columns: 29% 29% 29%;
	grid-auto-rows: 380px;
	justify-content: space-between;
	row-gap: 50px;
}

@media screen and (max-width: 1400px) {
	.Category {
		width: 90%;
		margin: 0 auto;
		grid-template-columns: 47% 47%;
		grid-auto-rows: 400px;
	}
}

@media screen and (max-width: var.$tablet) {
	.Category {
		width: 90%;
		margin: 0 auto;
		grid-template-columns: 47% 47%;
		grid-auto-rows: 400px;
	}
}
@media screen and (max-width: var.$mobile) {
	.Category {
		width: 80%;
		margin: 0 auto;
		grid-template-columns: 100%;
		grid-template-rows: repeat(12, 400px);
	}
}
