@import '../category/Category.module.scss';

.CategoryWithIsActive {
	@extend .Category;

	button {
		width: 100%;
		height: 50px;
		border: none;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			color: #fff;
			background: #111;
		}

		&.on {
			color: #fff;
			background: #111;
		}
	}
}
