@use '../styles/Variable.scss' as var;

.Home {
	position: relative;
	font-family: var(--baseFont);
	width: 100%;
	padding: 0 15%;
	min-height: 620px;
	margin: 0 auto;

	.categoryNames {
		width: 100%;
		padding-top: 50px;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		button {
			border: 1px solid #ccc;
			padding: 10px 20px; // button 크기가 늘어나면 화면이 커짐
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				color: #fff;
				background: #111;
			}

			&.on {
				color: #fff;
				background: #111;
			}
		}
	}
}

.mainImage {
	position: relative;
	z-index: 0;
	height: 220px;
	width: 100vw;
}

@media screen and (max-width: var.$tablet) {
	.Home {
		width: 100%;

		.categoryNames {
			flex-direction: row;

			button {
				width: 40%;
			}
		}
	}

	.mainImage {
		margin: 0;
		width: 100%;
	}
}

@media screen and (max-width: var.$mobile) {
	.Home {
		padding: 0 0%;
	}
}
