.Home {
	font-family: var(--baseFont);
	width: 70%;
	margin: 0 auto;

	.mainImage {
		width: 100vw;
		position: relative;
		z-index: 0;
		height: 220px;
		margin-left: -15vw;
	}

	.categoryNames {
		width: 100%;
		padding-top: 50px;
		text-align: center;
		display: flex;
		justify-content: center;
		gap: 20px;

		button {
			border: 1px solid #ccc;
			padding: 10px 20px;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				color: #fff;
				background: #111;
			}

			&.on {
				color: #fff;
				background: #111;
			}
		}
	}

	// dataIndex === buttonIndex(by map)
	.category {
		padding-top: 50px;
		display: grid;
		width: 100%;
		grid-template-columns: 30% 30% 30%;
		justify-content: space-between;
		row-gap: 50px;

		.IndicatorCard {
			width: 100%;
			height: 400px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			div {
				p {
					padding-top: 10px;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			button {
				width: 100%;
				height: 50px;
				border: none;
				cursor: pointer;
				transition: 0.2s;

				&:hover {
					color: #fff;
					background: #111;
				}

				&.on {
					color: #fff;
					background: #111;
				}
			}
		}
	}

	.pagination {
		padding: 50px;
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}
