.Home {
  font-family: var(--baseFont);
  width: 80%;
  margin: 0 auto;

  .tab {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      border: none;
      cursor: pointer;
    }
  }

  .category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    padding-top: 50px;

    .card {
      width: 20%;
      height: 200px;
      border: 1px solid #ccc;
    }
  }
}
