.Header {
	font-family: var(--pointFont);
	height: 60px;
	width: 100%;
	background: var(--fontColor);
	color: var(--bgColor);
	position: fixed;
	z-index: 10;

	a,
	span {
		font-size: 1.2rem;
	}

	.users {
		display: flex;
		gap: 20px;

		span {
			cursor: pointer;
		}
	}

	.mainNav {
		width: 80%;
		height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
