@use '../../styles/Variable' as var;
.IndicatorsTab {
	width: 100%;
	padding: var.$tabPagePadding;

	nav {
		display: flex;
		gap: 20px;
		padding-bottom: 30px;

		button {
			border: 1px solid rgba(var(--fontColor-code), 0.5);
			padding: 10px 20px;
			cursor: pointer;
			transition: 0.3s;

			&:hover,
			&.on {
				background: var(--bgColor-dark);
				color: var(--bgColor);
			}
		}
	}

	.favorites {
		display: grid;
		width: 100%;
		grid-template-columns: 30% 30% 30%;
		grid-template-rows: 70vh;
		justify-content: space-between;
		align-items: center;
		row-gap: 20px;
		transition: 0.3s;

		.indicatorCardByTab {
			.buttons {
				display: flex;
				flex-direction: column;
				gap: 10px;

				button.on {
					background: var(--bgColor-dark);
					color: var(--bgColor);
				}
			}
		}

		p {
			width: 100%;
			word-wrap: break-word;
		}
	}

	.pagination {
		display: flex;
		width: 100%;
		justify-content: center;
		gap: 3px;

		li {
			transition: 0.3s;
			opacity: 0.65;

			a {
				display: block;
				padding: 2px 4px;
				font-size: 1.2rem;
				text-align: center;
				// border: 1px solid red;
			}

			&:hover {
				font-weight: 500;
				opacity: 1;
				cursor: pointer;
			}
		}

		.paginationActive {
			font-weight: 500;
			opacity: 1;
			text-decoration: underline;
		}

		.disabled {
			&:hover {
				cursor: default;
				opacity: 0.65;
				font-weight: 400;
			}
		}
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center; /* 요소들을 수직 방향으로 중앙에 배치 */
		padding-top: 50px;

		.item {
			width: 33%;
		}

		.pagination {
			text-align: center;
		}

		.buttonWrap {
			display: flex;
			justify-content: right;

			button {
				border: none;
				background: var(--bgColor-dark);
				color: var(--bgColor);
				padding: 15px 20px;
				transition: 0.3s;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: var.$tablet) {
	.IndicatorsTab {
		.favorites {
			grid-template-columns: 48% 48%;
			grid-template-rows: 60vh;
		}
	}
}

@media screen and (max-width: var.$mobile) {
	.IndicatorsTab {
		.favorites {
			grid-template-columns: 100%;
			grid-template-rows: 50vh;
		}
	}
}
