@use '../../styles/Variable' as var;
.AllContexts {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
		> h2 {
			font-size: 1.8rem;
			font-weight: normal;
		}
		> span {
			display: block;
			text-align: center;
			background-color: var(--bgColor-dark);
			color: var(--bgColor);
			width: 30px;
			height: 30px;
			line-height: 36px;
			border-radius: 15px;
			cursor: pointer;
		}
	}

	.contextCardList {
		display: flex;
		flex-wrap: wrap;
		gap: 30px 1%;
		.contextCard {
			width: 160px;
			position: relative;
			.folder {
				transition: 0.3s;
				-webkit-filter: drop-shadow(3px 3px 4px rgba(122, 122, 122, 0.1));
				filter: drop-shadow(3px 3px 4px rgba(122, 122, 122, 0.1));
				/* Similar syntax to box-shadow */
			}
			.cover {
				position: relative;
				// border: 1px solid red;
				width: 100%;
				height: 120px;
				cursor: pointer;
				&:hover {
					.folder {
						-webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
						filter: drop-shadow(-2px -10px 0px rgba(0, 0, 0, 0.1));
					}
				}
				.name,
				.date,
				.icon {
					position: absolute;
					left: 0;
					bottom: 32px;
					width: 100%;
					text-align: left;
					padding-left: 10%;
					font-size: 1.4rem;
					font-weight: 500;
					cursor: pointer;
					z-index: 0;
				}
				.date {
					bottom: 14px;
					font-size: 0.7rem;
					font-weight: 400;
					z-index: 0;
					color: rgba(var(--fontColor-code), 0.6);
				}
				.icon {
					left: 5%;
					top: 20px;
					bottom: auto;
					width: 22px;
					height: 22px;
					border-radius: 11px;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					padding-left: 0;
					font-size: 2rem;
					font-weight: normal;
					color: rgba(var(--fontColor-code), 0.3);
					background-color: rgba(var(--fontColor-code), 0.05);
				}
			}
			> button {
				position: absolute;
				right: 8%;
				top: 25px;
				width: 22px;
				height: 22px;
				border-radius: 11px;
				border: none;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: transparent;
				transition: 0.3s;
				cursor: pointer;
				z-index: 3;
				&:hover {
					background-color: rgba(var(--fontColor-code), 0.05);
				}
				> svg {
					font-size: 0.7rem;
					color: rgba(var(--fontColor-code), 0.6);
				}
			}
		}
	}
}
@media screen and (max-width: var.$tablet) {
	.AllContexts {
		.contextCardList {
			.contextCard {
				width: 24%;
			}
		}
	}
}
@media screen and (max-width: var.$mobile) {
	.AllContexts {
		.contextCardList {
			.contextCard {
				width: 29%;
			}
		}
	}
}
