@use '../../styles/Variable.scss' as var;

.Footer {
	font-family: var(--pointFont);
	width: 100%;
	color: #fff;
	background: #333;

	.wrap {
		padding: 50px 0;
		margin: 0 auto;
		width: 80%;

		.heading {
			display: flex;
			justify-content: space-between;
			align-content: center;

			h3 {
				font-size: 1.5rem;
				font-weight: 500;
			}

			ul {
				display: flex;
				align-items: center;
				gap: 20px;
			}
		}

		.description {
			padding: 15px 0 25px;
			opacity: 0.6;
			border-bottom: 1px solid #ccc;
		}

		.copyright {
			text-align: right;
			padding-top: 35px;
			opacity: 0.6;
		}
	}
}

@media screen and (max-width: var.$tablet) {
	.Footer {
		.wrap {
			.heading {
				flex-direction: column;

				h3 {
					padding-bottom: 2px;
				}

				ul {
					li {
						opacity: 0.7;
						font-size: 0.9rem;
					}
				}
			}

			.copyright {
				text-align: left;
			}
		}
	}
}
